body {
    margin: 0 auto;
    padding: 1em 1em 1em;
    max-width: 1175px;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5em;
    color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    background-image: url("http://files.vividscreen.info/soft/c29398cb6117f795fd64e6910abc0e29/Nike-1080x960.jpg");
    background-size:cover; 
}

.About{
    background-color: white;
    padding-bottom: .5em;
    padding-top: .5em;
    padding-left: .7em;
    padding-right: .7em; 
}

.CR{
    background-color:white;
    background-size: cover;
    padding-bottom: .3em;
    padding-top: .3em;
    padding-left: .3em;
    padding-right: .3em;
}

.LB{
    background-size:cover;
    background-color: white;
    padding-bottom: .3em;
    padding-top: .3em;
    padding-left: .3em;
    padding-right: .3em;
    
}

.row{
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
}

#nike{
    color: #e5191c;;
    text-align: center;
    font-size: 30;
    
}

.slogan{
    background-color: white; 
    color: black;
    text-align: center;
    font-family: Arial;
    width: 31em;
}

.Words{
    color: white;
    width:30em;
    text-align: center;
}

.Words2{
    color: white;
    width: 40em;
     text-align: center;
}

.name{
    text-align: center;
    background-color: #e65c00;
    padding-bottom: .3em;
    padding-top: .3em;
    
}
