body {
    margin: 0 auto;
    padding: 1em 1em 1em;
    max-width: 1275px;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5em;
    color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    background-image: url("/images/Nike.jpg");
    background-size:cover; 
}

#text{
    background-color: white;
    color: #1755b2;
    text-align: center;
}

.name{
    text-align: center;
    background-color: #e65c00;
    padding-bottom: .3em;
    padding-top: .3em;
    
}

.row{
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
}

.slogan{
    background-color: white; 
    color: black;
    text-align: center;
    font-family: Arial;
    width: 31em;
}

.Words{
    color: white;
    width:30em;
    text-align: center;
}

.Words2{
    color: white;
    width: 40em;
     text-align: center;
}

.them{
    background-color: orangered;
    padding-bottom: .3em;
    padding-top: .3em;
    padding-left: .3em;
    padding-right: .3em;
    color: black;
    text-align: center;
    font-weight: 600;
    
}

.info{
    background-color: white; 
    color: black; 
    padding-bottom: .5em;
    padding-right: .5em;
    padding-left: .5em;
    padding-top: .5em;
    text-align: center; 
}

.sponsor{
    background-size:cover;
    background-color: white;
    padding-bottom: .3em;
    padding-top: .3em;
    padding-left: .3em;
    padding-right: .3em;
    
}

.about{
    background-color: white; 
    color: black; 
    padding-bottom: .5em;
    padding-right: .5em;
    padding-left: .5em;
    padding-top: .5em;
    text-align: center; 
    font-size: 20px;
    
}
